:root {
    --white: #efecec;
    --black: #171616;
  }

  * {
    box-sizing: border-box;
  }

  body {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--black);
    color: var(--white);
    font-family: sans-serif;
  }

#s1,
#s2half {
  height: 50vh;
}

#s1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    font-size: 10vw;
    /*border-bottom: 1px solid var(--white); */
    padding-bottom: 5%;
    font-family: "Libre Barcode 39 Text", cursive;
    font-weight: normal;
  }

  #s2 {
    width: 90%;
    padding: 5%;
    border: 1px solid var(--white);
  }

  p {
    text-align: justify;
    margin: 0;
    hyphens: auto;
  }
  
  .one,
  .two {
    float: left;
    shape-outside: circle(50%);
    background-color: var(--white);
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    margin: 5%;
  }
  
  .two{
      float: right;
  }